.content-recipe{
    background-color: #fbfbfb;
}
.box-ingredienti,
.box-procedimento{
    box-shadow: rgba(99, 99, 99, 0.08) 0px 1px 3px 1px;
    padding: 20px;
    border-radius: 25px;
    background-color: #fff;
}
.text-ingredienti{
    font-size:16px;
}
.icona-info{
    width: 19px;
    height: 19px;
}
.txt-info-receip{
    font-size:16px;
}
.img-ricetta{
    min-height: 450px;
}
.btn-return{
    font-size: 16px;
    color: #00a63d;
}